# Virtual Environment
hr-bot/
venv/
ENV/
.env/
.venv/

# Python virtual environment patterns
bin/
include/
lib/
lib64/
share/
pyvenv.cfg
.Python
pip-selfcheck.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
